@charset "utf-8";
.jwlogo { display:none;}
body{
	margin: 0;
	padding: 0;
	font-family: Helvetica,"微软雅黑",Arial,sans-serif;
	background-color: #ccc;
}
#main-content{
	display: block; 
	overflow: hidden;
	height: 600px;
}
.orbit-pictures{
	float:left;
	margin-top:60px;
}
.center-div{
	margin: 0 auto;
	width: 960px;
	clear: left;
}

#showcase{width: 100%;}
#showcase div.showcase-thumbnail { width: 180px; height: 98px; margin-right: 40px; margin-top: 15px; }
#showcase div.showcase-thumbnail img { border: none; }
/* Assign the correct showcase height to prevent loading jumps in IE */
.showcase-load { height: 400px; /* Same as showcase javascript option */ overflow: hidden; }
/* Container when content is shown in slider */
.showcase { position: relative; margin: auto; }
.showcase-content-container { /*background-color: #000;*/ }
/* Navigation arrows */
.showcase-arrow-previous, .showcase-arrow-next { position: absolute; background: url('images/arrows.png'); width: 33px; height: 33px; top: 220px; cursor: pointer; }
.showcase-arrow-previous { left: -60px; }
.showcase-arrow-previous:hover { background-position: 0px -34px; }
.showcase-arrow-next { right: -56px; background-position: -34px 0; }
.showcase-arrow-next:hover { background-position: -34px -34px; }
/* Content */
.showcase-content { /*background-color: #000;*/ text-align: center; }
.showcase-content-wrapper { background-color: rgba(0,0,0,0.5); background-position: bottom center; background-repeat: no-repeat; text-align: center; height: 600px; /*display: table-cell;*//*vertical-align: middle;*/ }
/* Styling the tooltips */
.showcase-plus-anchor { background-image: url('images/plus.png'); background-repeat: no-repeat; }
.showcase-plus-anchor:hover { background-position: -32px 0; }
div.showcase-tooltip { background-color: #fff; color: #000; text-align: left; padding: 5px 8px; background-image: url('images/white-opacity-80.png'); }
/* Styling the caption */
.showcase-caption { color: #000; padding: 8px 15px; text-align: left; position: absolute; bottom: 10px; left: 10px; right: 10px; display: none; background-image: url('images/white-opacity-80.png'); }
.showcase-onepage .showcase-content { margin-bottom: 10px; }
/* Button Wrapper */
.showcase-button-wrapper { clear: both; margin-top: 10px; text-align: center; }
.showcase-button-wrapper span { margin-right: 3px; padding: 2px 5px 0px 5px; cursor: pointer; font-size: 12px; color: #444444; }
.showcase-button-wrapper span.active { color: #fff; }
/* Thumbnails */
.showcase-thumbnail-container /* Used for backgrounds, no other styling!!! */ { background:transparent; height: 132px; position: relative; margin-top: -150px;}
.showcase-thumbnail-wrapper { overflow: hidden; }
.showcase-thumbnail-wrapper showcase-thumbnail-wrapper-horizontal { width: 1962px; }
.showcase-thumbnail { width: 120px; height: 98px; cursor: pointer; position: relative; }
.showcase-thumbnail-caption { position: absolute; bottom: 2px; padding-left: 10px; padding-bottom: 5px; }
.showcase-thumbnail-content { padding: 10px; text-align: center; padding-top: 25px; }
.showcase-thumbnail-cover { background-image: url('images/black-opacity-40.png'); position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
.showcase-thumbnail:hover .showcase-thumbnail-cover { display: none; }
.showcase-thumbnail.active .showcase-thumbnail-cover { display: none; }
.showcase-thumbnail-wrapper-horizontal { padding: 3px 10px 10px 10px; }
.showcase-thumbnail-wrapper-horizontal .showcase-thumbnail { margin-right: 3px; width: 180px; }
.showcase-thumbnail-wrapper-vertical { padding: 10px; }
.showcase-thumbnail-wrapper-vertical .showcase-thumbnail { margin-bottom: 10px; }
.showcase-thumbnail-button-backward, .showcase-thumbnail-button-forward { padding: 7px; cursor: pointer; }
.showcase-thumbnail-button-backward { padding-bottom: 0px; padding-right: 0px; }
.showcase-thumbnail-button-backward .showcase-thumbnail-vertical, .showcase-thumbnail-button-forward .showcase-thumbnail-vertical, .showcase-thumbnail-button-forward .showcase-thumbnail-horizontal, .showcase-thumbnail-button-backward .showcase-thumbnail-horizontal { background-image: url(images/arrows-small.png); background-repeat: no-repeat; display: block; width: 17px; height: 17px; }
.showcase-thumbnail-button-backward .showcase-thumbnail-vertical { background-position: 0 -51px; margin-left: 55px; }
.showcase-thumbnail-button-backward:hover .showcase-thumbnail-vertical { background-position: -17px -51px; }
.showcase-thumbnail-button-forward .showcase-thumbnail-vertical { background-position: 0 -34px; margin-left: 55px; }
.showcase-thumbnail-button-forward:hover .showcase-thumbnail-vertical { background-position: -17px -34px; }
.showcase-thumbnail-button-backward .showcase-thumbnail-horizontal { background-position: 0 -17px; margin-top: 58px; margin-bottom: 52px; }
.showcase-thumbnail-button-backward:hover .showcase-thumbnail-horizontal { background-position: -17px -17px; }
.showcase-thumbnail-button-forward .showcase-thumbnail-horizontal { background-position: 0 0; margin-top: 58px; margin-bottom: 52px; }
.showcase-thumbnail-button-forward:hover .showcase-thumbnail-horizontal { background-position: -17px 0; }
/* Hide button text */
.showcase-thumbnail-button-forward span span, .showcase-thumbnail-button-backward span span { display: none; }
/* Clear (used for horizontal thumbnails)
-------------------------------------------*/
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; float: none; }
#showcase div#text { width: 340px; height:370px; padding-left: 60px; padding-top: 50px; overflow: hidden; color: #fff; float: left; text-decoration: none; font-size: 12px;text-align: left;color: #fff;line-height: 20px;letter-spacing: 1px;}
#text h3 { font-size: 17px; text-align: left; line-height: 25px; height: 35px; margin: 0; padding: 0; margin-top: 30px; }
#text a { color: #fff; text-decoration: none; font-size: 12px; text-align: left;display:inline-block;margin-top:15px;}
#text .scroll-pane a {margin: 0;}
#text .scroll-pane a:hover {text-decoration: underline;}
#text a img { border: none;}
#text #text-panel {height:300px;padding-right:10px;overflow:hidden;line-height:20px;font-size:13px;text-align:left;margin:0;padding:0;margin-bottom:10px;}
#text #text-panel p {margin:5px 0;}
#text span { color: #fff; text-decoration: none; font-size: 12px; text-align: left; }
.showcase-thumbnail-restriction {width:905px;}

/*cn.html*/
#all { width: 100%; margin: 0 auto; }
/*foot*/
#foot { font-family: Helvetica,"微软雅黑",Arial,sans-serif; font-size: 12px; color: #fff; line-height: 30px; display: block; float: left; }
#foot a { font-family: Helvetica,"微软雅黑",Arial,sans-serif; font-size: 12px; color: #fff; line-height: 30px; text-decoration: none; }
#foot a:hover { font-family: Helvetica,"微软雅黑",Arial,sans-serif; font-size: 12px; color: #231f20; line-height: 30px; text-decoration: none; }
/*copyright*/
#copyright {font-family: Helvetica,"微软雅黑",Arial,sans-serif; font-size: 12px; color: #fff; line-height: 20px; float: right; text-align: right; }
#copyright a { font-family: Helvetica,"微软雅黑",Arial,sans-serif; font-size: 12px; color: #fff; line-height: 20px; text-decoration: none; }
#copyright a:hover { font-family: Helvetica,"微软雅黑",Arial,sans-serif; font-size: 12px; color: #231f20; line-height: 20px; text-decoration: none; }
a.prev,
a.next { width: 17px; height: 33px; display: block; position: absolute; top: 85px; }
a.prev { left: 1px; background: url("images/prev.png") }
a.prev:hover { background: url("images/prev1.png") }
a.next { right: 1px; background: url("images/nex.png") }
a.next:hover { background: url("images/nex1.png") }
a.prev span,
a.next span { display: none; }
.clearfix { float: none; clear: both; }
.button { width: 283px; height: 100px; float: left; margin-left: 20px; margin-top: 429px; }
#prev { background-image: url("images/previous.png"); width: 283px; height: 49px; float: left; text-decoration: none; }
#next { background-image: url("images/next.png"); width: 160px; height: 46px; float: left; text-decoration: none; }
a #prev span { display: none; text-decoration: none; }
#prev:hover { background-image: url("images/previous1.png"); }
#next:hover { background-image: url("images/next1.png"); }